# list of files you do not want in your repo
.cache/
.config/gh/
.lesshst
.local/share/recent*
.viminfo
.wget-hsts
.bash_history
*Xorg.0.log*
.Xauthority
Desktop
Documents
Downloads
.mozilla
.local/share/vifm/Trash/
*.iso
*.out
.ssh

